<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/obj/**/*.cs,**/Migrations/**/*.cs,**/Program.cs,**/Endpoints/**/*.cs,**/ZMovie.ServiceDefaults/Extensions.cs,**/Configuration/InfisicalConfigurationExtensions.cs,**/Identity/GoogleIdentityVerifier.cs,**/ApiResults.cs,**/Services/OPhimCrawlerService.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
